body {
  padding: 20px 40px;
  font-family: "Verdana";
}
.list-inline li{
    display:inline;
}
h1 {
  margin: 20px;
}

*{
  text-align: center;
}

.secretWord {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 3rem;
}

.letter-button:disabled {
  opacity: 0.5;
  color: black;
}

#guessesLeft {
    font-weight: bold;
    color: red;
}

.buttonCentered {
    text-align: center;
}

body {
	background-color:#e6e6e6;
}

.socialButton{
	width:60px;
	height:60px;
	border:0;
	padding: 8px;
}
.socialButton:hover {
  background-color: #ddd;	/* looks cool */
  color: black;
}